body {
	margin: 0;
}

.outside {

	.burger {

		.iconDiv {
			// height: 3em;
			// background-color: green;
		}
	}

	// a {
	// 	color: black;
	// 	float: right;
	// 	clear: both;
	// 	text-decoration: none;
	// 	font-size: 1.3em;
	// 	margin-right: 1em;
	// 	padding: 0.5em 0;
	// }
}

@media (min-width: 480px) {
	.outside {

		img {
			padding: 0.8em 1em;
		}

		a {
			clear: none;
			line-height: 2.6em;
		}
	}
}